body {
  margin: 0;
  /* Make sure the background is not opaque so the rounded corners are visible */
  background: transparent;
}
.app-container {
  margin: 0;

  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 28);
}
.content-container {
  margin: 0;

  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 28);
}
